.hidden {
  display: none;
}
html,
body, #map {
    height: 100%;
    /*width: 100%;*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#map svg {
  height: 100vh;
  width: 100vw;
}

.sidebar {
    z-index: 800;
    background: #f7f7f7;
    position: absolute;
    right: 0;
    height: 100%;
    width: 380px;
    opacity: .8;
}
#compare-chart {
    background-color: #e7e7e7;
    margin-bottom: 15px;
    padding-top: 15px;
    border-radius: 3px;
    clear: both;
}
.info {
    background: #e7e7e7;
    opacity: 1;
    overflow: auto;
    padding: 7px 20px 6px 54px;
    font-size: 12px;
    color: #151515;
    border-radius: 3px;
    z-index: 900;
}
.info #scorebox {
    font-size: 18px;
    font-weight: 700;
    padding-top: 7px;
    position: relative;
    top: 0;
    left: -47px;
    color: #333;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 3px;
}
.info>div:nth-child(2) {
    margin-top: -40px;
}
#buildingDetails {
    padding-top: 36px;
    margin-left: -48px;
    width: 289px;
}
col:first-child {
    width: 40px;
    background-color: #fff;
    border-right: 3px #e7e7e7 solid;
}
col:last-child {
    background-color: #ccc;
}
#buildingDetails tr {
    border: 3px #e7e7e7 solid;
}
#buildingDetails td:first-child {
    text-align: center;
    font-weight: 700;
}
#buildingDetails td:nth-child(2) {
    padding: 6px 0 6px 6px;
}
.filter-header {
    font-size: 14px;
    font-weight: 700;
}
#category-filters tr:first-child td {
    padding-bottom: 6px;
}
#category-filters td:nth-child(odd) {
    padding-right: 6px;
}
#category-filters td:nth-child(even) {
    font-size: 12px;
    width: 240px;
    padding-top: 3px;
}
#category-filters-select {
    margin-left: -48px;
    list-style: none;
}
#category-filters-select li {
    border-bottom: 1px #ccc solid;
    padding: 6px;
}
#category-filters-select li:last-child {
    border-bottom: none;
}
#category-filters-select li select {
    vertical-align: middle;
    height: 22px;
    width: 310px;
}
#category-filters-select li button {
    height: 21px;
    width: 21px;
    color: #999;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 0 2px;
    margin-left: 5px;
    border: 1px #999 solid;
    border-radius: 4px;
}
#category-filters-select li button:hover {
    background-color: #999;
    color: #fff;
}
#other-filters td:last-child {
    font-size: 12px;
    padding-left: 8px;
    padding-top: 2px;
}
.intro {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 350px;
    overflow: auto;
    padding: 5px 25px 25px 25px;
    font-size: 14px;
    color: #151515;
    border-radius: 3px;
    z-index: 900;
    min-height: 768px;
}
.intro p {
    font-size: 12px;
}
#abstract-toggle a {
    cursor: pointer;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}
#abstract {
    margin-bottom: 5px;
    height: 160px;
}
.legend {
    line-height: 40px;
    background: #191919;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 5px;
    color: #f6f6f6;
    opacity: .8;
    font-size:12px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}
#filters button {
    width: 151px;
    border-radius: 0px;
}
#metrics-dropdown {
    width:150px !important;
}
.category-dropdown ul {
    overflow-y: scroll;
    height: 482px;
}
.bar {
  /*fill: steelblue;*/
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text {
  font-size: 8px;
}
